.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0 20px 0;
}

.bucketList h1 {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
}

div.form-group.row {
  display: flex;
  justify-content: center;
}

div.col-sm-10 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

div.col-sm-10 form {
  display: flex;
  flex-direction: column;
}

div.col-sm-10 button {
  margin-top: 15px;
}

div.col-md-4.offset-md-4 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

div.col-md-4.offset-md-4 h1 {
  margin-bottom: 50px;
}

h1 {
  display: flex;
  justify-content: center;
}

button.btn.btn-primary.btn-lg {
  display: flex;
  justify-content: center;
  margin-left: 45px;
}
/* span {
  color: gray;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.username {
  display: flex;
  align-content: flex-start;
  margin: 15px 95px 15px 0;
  font-weight: bold;
}

.password {
  display: flex;
  margin: 15px 98px 15px 0;
  font-weight: bold;
}

.loginButton {
  margin: 30px 0 0 0;
  border-radius: 5px;
  padding: 5px 20px;
  font-weight: bold;
  background-color: lightblue;
} */